<%= form_with(model: inventory_item, local: true) do |form| %>
  <% if inventory_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory_item.errors.count, "error") %> prohibited this inventory_item from being saved:</h2>

      <ul>
      <% inventory_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.select :company_id, options_for_select(Company.all.map{|s|[s.name,s.id]}), {}, {:id=>"company-select"} %>
  </div>

  <% if :inventory_type_id? %>
    <div class="field">
      <%= form.label :inventory_type_id %>
      <%= form.select :inventory_type_id, options_for_select(InventoryType.where("company_id" => @set_company_id).map{|s|[s.name,s.id]}), {}, {:id=>"inventory-types"} %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>

<%= javascript_tag do%>
  $('#company-select').change(function() {
    var value = $(this).val();

    url = '/companies/get_inventory_types_select?id='+value;
    $.get(url, function(data){$('#inventory-types').html(data)});
  })
<% end %>