<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @inventory_item.sku %>
</p>

<p>
  <strong>Name:</strong>
  <%= @inventory_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @inventory_item.description %>
</p>

<p>
  <strong>Inventory type:</strong>
  <%= @inventory_item.inventory_type %>
</p>

<p>
  <strong>Company:</strong>
  <%= @inventory_item.company %>
</p>

<p>
  <strong>Inventory item components:</strong>
  <%= @inventory_item.inventory_item_components %>
</p>

<%= link_to 'Edit', edit_inventory_item_path(@inventory_item) %> |
<%= link_to 'Back', inventory_items_path %>
