<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Site:</strong>
  <%= @vendor.site %>
</p>

<p>
  <strong>Company:</strong>
  <%= Company.find(@vendor.company_id).name %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
