<%= form_with(model: inventory_item_component, local: true) do |form| %>
  <% if inventory_item_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory_item_component.errors.count, "error") %> prohibited this inventory_item_component from being saved:</h2>

      <ul>
      <% inventory_item_component.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.select :company_id, options_for_select(Company.all.map{|s|[s.name,s.id]}), {}, {:id=>"company-select"} %>
  </div>

  <div class="field">
    <%= form.label :inventory_item_id %>
    <%= form.select :inventory_item_id, options_for_select(InventoryItem.where("company_id" => @set_company_id).map{|s|[s.sku,s.id]}), {}, {:id => 'inventory-item'} %>
  </div>

  <div class="field">
    <%= form.label :material_id %>
    <%= form.select :material_id, options_for_select(Material.where("company_id" => @set_company_id).map{|s|[s.sku,s.id]}), {}, {:id => 'material'} %>
  </div>

  <div class="field">
    <%= form.label :quantity_needed %>
    <%= form.number_field :quantity_needed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_tag do %>
  $('#company-select').change(function(){
    var value = $(this).val();

    url = '/companies/get_inventory_item_select?id='+value;
    $.get(url, function(data){$('#inventory-item').html(data)});

    url = '/companies/get_material_select?id='+value;
    $.get(url, function(data){$('#material').html(data)});
  })
<%end%>