<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity needed:</strong>
  <%= @inventory_item_component.quantity_needed %>
</p>

<p>
  <strong>Material:</strong>
  <%= Material.find(@inventory_item_component.material_id).sku %>
</p>

<p>
  <strong>Inventory item:</strong>
  <%= InventoryItem.find(@inventory_item_component.inventory_item_id).sku %>
</p>

<p>
  <strong>Company:</strong>
  <%= Company.find(@inventory_item_component.company_id).name %>
</p>

<%= link_to 'Edit', edit_inventory_item_component_path(@inventory_item_component) %> |
<%= link_to 'Back', inventory_item_components_path %>
