<p id="notice"><%= notice %></p>

<p>
  <strong>Material:</strong>
  <%= @inventory_item_component.material_id %>
</p>

<p>
  <strong>Inventory item:</strong>
  <%= @inventory_item_component.inventory_item_id %>
</p>

<p>
  <strong>Quantity needed:</strong>
  <%= @inventory_item_component.quantity_needed %>
</p>

<p>
  <strong>Company:</strong>
  <%= @inventory_item_component.company_id %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @inventory_item_component.vendor_id %>
</p>

<%= link_to 'Edit', edit_inventory_item_component_path(@inventory_item_component) %> |
<%= link_to 'Back', inventory_item_components_path %>
