<%= form_with(model: vendor_item, local: true) do |form| %>
  <% if vendor_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vendor_item.errors.count, "error") %> prohibited this vendor_item from being saved:</h2>

      <ul>
      <% vendor_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :material_id %>
    <%= form.number_field :material_id %>
  </div>

  <div class="field">
    <%= form.label :vendor_sku %>
    <%= form.text_field :vendor_sku %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :vendor_id %>
    <%= form.number_field :vendor_id %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.number_field :company_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
