<p id="notice"><%= notice %></p>

<h1>Vendor Items</h1>

<table>
  <thead>
    <tr>
      <th>Material</th>
      <th>Vendor sku</th>
      <th>Url</th>
      <th>Price</th>
      <th>Vendor</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendor_items.each do |vendor_item| %>
      <tr>
        <td><%= vendor_item.material_id %></td>
        <td><%= vendor_item.vendor_sku %></td>
        <td><%= vendor_item.url %></td>
        <td><%= vendor_item.price %></td>
        <td><%= vendor_item.vendor_id %></td>
        <td><%= vendor_item.company_id %></td>
        <td><%= link_to 'Show', vendor_item %></td>
        <td><%= link_to 'Edit', edit_vendor_item_path(vendor_item) %></td>
        <td><%= link_to 'Destroy', vendor_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor Item', new_vendor_item_path %>
