<%= form_with(model: material, local: true) do |form| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.select :company_id, options_for_select(Company.all.map{|s|[s.name,s.id]}), {}, {:id=>"company-select"} %>
  </div>

  <% if :company_id? %>
    <div class="field">
      <%= form.label :vendor_id %>
      <%= form.select :vendor_id, options_for_select(Vendor.where("company_id" => @set_company_id).map{|s|[s.name,s.id]}), {}, {:id=>"vendors"} %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>

<%= javascript_tag do%>
    $('#company-select').change(function(){
    
    var value = $(this).val();

    url = '/companies/get_vendor_select?id='+value;
    $.get(url, function(data){$('#vendors').html(data)});
})
<%end%>