<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @material.sku %>
</p>

<p>
  <strong>Price:</strong>
  <%= @material.price %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= Vendor.find(@material.vendor_id).name %>
</p>

<p>
  <strong>Company:</strong>
  <%= Company.find(@material.company_id).name %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
